---
import { siteConfig } from '../site.config';
---

<div class="relative flex-shrink-0">
  <img
    src="/logo.jpg"
    alt={`${siteConfig.fullName} logo`}
    width="280"
    height="80"
    class="h-20 w-auto object-contain"
    loading="eager"
  />
</div>
