---
import { siteConfig } from '../site.config';
---

<div class="relative flex-shrink-0">
  <img
    src="/logo.jpg"
    alt={`${siteConfig.fullName} logo`}
    width="140"
    height="40"
    class="h-10 w-auto object-contain"
    loading="eager"
  />
</div>
