---
import { siteConfig } from '../site.config';
---

<div class="relative flex-shrink-0">
  <img
    src="/logo.png?v=2"
    alt={`${siteConfig.fullName} logo`}
    width="560"
    height="160"
    class="h-14 md:h-16 w-auto object-contain"
    loading="eager"
  />
</div>
