---
import { siteConfig } from '../site.config';
---

<div class="relative flex-shrink-0">
  <img
    src="/logo.jpg"
    alt={`${siteConfig.fullName} logo`}
    width="200"
    height="56"
    class="h-14 w-auto object-contain"
    loading="eager"
  />
</div>
